<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      
      <!--Replace text with your app name or logo image-->
      <a class="navbar-brand" href="#">HomeJS</a>
      
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a onclick="$('header').animatescroll({padding:71});">Home</a></li>
        <li><a onclick="$('.detail').animatescroll({padding:71});">The Process</a></li>
        <li><a onclick="$('.features').animatescroll({padding:71});">How it Works</a></li>
        <li><a onclick="$('.social').animatescroll({padding:71});">Get at Us</a></li>
        <li><a href="#/items">Items Demo</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- HEADER
================================================== -->
<header class="ng-scope">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="
        /* background-color: rgba(255,255,255, 0.6); */
        ">
        <div class="title-background" style="
          background-color: rgba(255,255,255, 0.7);
          display: inline-block;
          padding: 0px 70px 12px;
          ">
          <h1 style="
          margin-bottom: 0px;
          ">HomeJS</h1>
          
          
          
          
          
          
          
          <p>A Stupidly Simple Smart-Home Solution</p>
          
        </div>
      </div>
    </div>
  </div>
  
</header>


<!-- PURCHASE
================================================== -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1>HomeJS is an open-source home automation project that relies on the Tessel controller board and its relay module. Easily control any appliance in your house via our easy to use web interface or our SuperFly app all through the power of JavaScript</h1>
        <p class="lead">Buzzwords Parallax Web 3.0 Frontendynessssss</p>
        <button type="button" class="app-store"></button>
      </div>
    </div>
  </div>
</section>


<!-- PAYOFF
================================================== -->
<section class="payoff">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-background transform" style="
    background-color: rgba(255,255,255, 0.5);
    display: inline-block;
    padding: 0px 2px 0px;

">


        <h1>Did I leave my lights on again? Let's not kid ourselves.</h1>
        <h3 class='dumbQuote'>-Me. Everyday. Since Birth.</h3>
      </div>
    </div>
  </div>
</section>


<!-- DETAILS
================================================== -->
<section class="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic-2" class="carousel slide">
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Controlling your house is as easy as pressing a button.</h1>
                  <p>Simply log in to our web interface or our handy-dandy mobile app, check the current state of your item, and your changes will take effect in less than 5 seconds. Holy Internet, Batman!</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="http://i.imgur.com/zgH18Ni.png" class="img-responsive" alt="App Screen 1">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="item">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Sed do eiusmod tempor incididunt ut labore et dolore magna.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="img/screenshots/app-2.png" class="img-responsive" alt="App Screen 2">
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="item">
              <div class="row">
                <div class="col-sm-12 col-md-offset-1 col-md-6">
                  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="app-screenshot">
                    <img src="img/screenshots/app-3.png" class="img-responsive" alt="App Screen 3">
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          
          <!-- Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
          </ol>   -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FEATURES
================================================== -->
<section class="features">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4">
        <div class='col-md-12'>
          <h2 class='text-center'>Tessel</h2>
          <img class="img-responsive center-block"  src='http://i.imgur.com/g37w4HQ.png'/>
        </div>
        <p class='descHeight'>Tessel is a microcontroller that runs JavaScript.
        It's Node-compatible and ships with Wifi built in.
        Use it to easily make physical devices that connect to the web. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quo minus qui non architecto adipisci recusandae atque, maiores ipsa id culpa. Aperiam itaque temporibus veniam enim non sint vero, accusamus!</p>
        <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <h2 class='text-center'> Firebase</h2>
          
          <img class="img-responsive center-block"  src="http://i.imgur.com/4loGMsX.png"/>
          <p class=''>When data changes, apps built with Firebase update instantly across every device -- web or mobile.
          Firebase-powered apps work offline. Data is synchronized instantly when your app regains connectivity Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa a numquam repellat. Est labore iste magni aspernatur in, adipisci, obcaecati eos  </p>
        </div>
        
        <!--  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <div class='col-md-12'>
          <h2 class='text-center'>Angular</h2>
          <img class="img-responsive center-block"  src='http://i.imgur.com/3JpwBYX.png'/>
          
          <p class='descHeight'>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>
    </div>
    
  </div>
</div>
</section>


<!-- SOCIAL
================================================== -->
<section class="social">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Connect with me</h2>
      <a class="icon-facebook"></a>
      <a class="icon-twitter"></a>
    </div>
  </div>
</div>
</section>


<!-- GET IT
================================================== -->
<section class="get-it">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Avaialable now</h1>
      <p class="lead">From the Mind that brought you Cln and Military Nominations App. Powered by Rockstar</p>
      
    </div>
    <div class="col-md-12">
      <hr />
      <ul>
        <li><a href="#link-here">Contact</a></li>
        <li><a href="#link-here">Twitter</a></li>
        <li><a href="#link-here">Press</a></li>
        <li><a href="#link-here">Support</a></li>
        <li><a href="#link-here">Developers</a></li>
        <li><a href="#link-here">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
</section>